:root{
    --my-background: #2f2a24;
    --my-link-text-color: #ffb225;
    --my-text-color: #ffd38f;
}

html{
    background-color: var(--my-background);
    color: var(--my-text-color);
    font-family: FiraCode NF, "MS Trebuchet", sans-serif;
}

body{
    text-align: center;
    background-image: url('./src/background.png');
    color: lightblue;
}

h1{
    font-size: 45px;
}

hr{
    border-top: 1px solid #171512;
    border-bottom: 1px solid #3f3335;
    border-radius: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
    width: 75%;
}

img{
    border: 3px solid var(--my-link-text-color);
    border-radius: 100%;
}

p{
    text-align: left;
    font-size: 25px;
    width: 75%;
    padding-left: 12.5%;
    text-indent: 50px;
    letter-spacing: -1px;
    line-height: 1.5;
}

a{
    color: var(--my-link-text-color);
}

a:hover {
    color: red;
}

